@import "tailwindcss";

@theme {
    --color-primary-light: #FFDF6C;
    --color-theme-black: #202020;
    --color-theme-grey-dark: #3F3F3F;
    --color-theme-grey-medium: #707070;

    --font-special: 'Permanent Marker', cursive;
}

body {
  font-family: 'Nunito Variable', sans-serif;
}

.triangle {
    /* clip-path: polygon(0% 0%, 100% 0%, 100% 60%, 35% 80%, 0% 55%); */
    clip-path: url(#clip-rounded);
} 
