@import "tailwindcss";
@plugin "@iconify/tailwind4";

@theme {
  --color-primary-light: #ffdf6c;
  --color-theme-black: #202020;
  --color-theme-grey-dark: #3f3f3f;
  --color-theme-grey-medium: #707070;

  --font-special: "Permanent Marker", cursive;
}

body {
  font-family: "Nunito Variable", sans-serif;
}
