---
import HeaderLink, { Device } from "@/components/Header/HeaderLink.astro";
import Logo, { type Props as IconProps } from "@/assets/Logo.astro";

const iconProps: IconProps = {
  height: "18pt",
  width: "18pt",
};

export type Props = {
  device: Device;
};

const { device } = Astro.props;
---

<ul class="list-none lg:flex lg:gap-x-12" aria-label="Header Menu">
  <li>
    <HeaderLink href="/" text="" ariaLabel="Home" {device}>
      <Logo {...iconProps} slot="before-text" />
    </HeaderLink>
  </li>
  <li><HeaderLink text="About Me" href="/#about-me" {device} /></li>
  <li><HeaderLink text="Projects" href="/#projects" {device} /></li>
  <li><HeaderLink text="Blog" href="/blog" {device} /></li>
</ul>
