---
import Logo from "@/assets/Logo.astro";
import SocialLinks from "./SocialLinks.astro";

interface IconProp {
  height: string;
  width: string;
}

const iconProp: IconProp = {
  height: "128px",
  width: "128px",
};
---

<footer
  class="flex flex-col items-center justify-center p-10 text-center text-theme-black bg-gray-200"
>
  <aside class="flex flex-col items-center">
    <div class="relative size-28 lg:size-32">
      <Logo {...iconProp} />
    </div>

    <nav class="mt-6">
      <SocialLinks />
    </nav>

    {
      /* <div class="mt-8 mb-8 flex flex-wrap justify-center gap-4">
      <a
        class="text-xs transition hover:underline"
        href="#"
        target="_blank"
        rel="noopener noreferrer"
      >
        Condiciones de contratación
      </a>
    </div>*/
    }

    <p class="90 mt-2 text-xs text-pretty px-4">
      Copyright © {new Date().getFullYear()} - Todos los derechos reservados
    </p>
  </aside>
</footer>
