---
const { id, title, imgSrc, imgClasses, bgColor = "bg-white" } = Astro.props;
---

<section {id} class=`${bgColor} container mx-auto py-20`>
  <div class="flex flex-col sm:flex-row">
    <div class="text-primary-light w-full sm:w-[50%] relative">
      <svg
        class="mx-auto z-0"
        width="350px"
        viewBox="0 0 160.5766 164.8858"
        version="1.1"
        id="svg5"
        fill="currentColor"
        xmlns="http://www.w3.org/2000/svg"
      >
        <g id="layer1">
          <path>
            <animate
              id="animation-to-check"
              repeatCount="indefinite"
              fill="freeze"
              attributeName="d"
              dur="15s"
              values="M 76.458534,0.04184827 C 66.544196,-0.48306724 56.739542,3.9747372 49.629427,10.904087 42.163307,18.180391 37.552949,27.810506 32.851782,37.115696 25.324322,52.01507 17.191556,66.605408 9.8289787,81.586946 6.1241835,89.125547 2.5858995,96.849951 0.93275519,105.08543 c -1.65314429,8.23548 -1.28674581,17.11913 2.54558251,24.5937 3.905922,7.61811 10.9958973,13.09265 18.3408753,17.49074 29.678434,17.7711 66.534483,21.5076 100.339957,14.17199 5.70752,-1.2385 11.3821,-2.7869 16.67796,-5.24933 5.29586,-2.46242 10.22357,-5.87974 13.89532,-10.42153 6.10814,-7.55549 8.29206,-17.71266 7.76955,-27.4143 -0.52252,-9.70165 -3.52381,-19.089003 -6.84761,-28.218474 C 142.85914,60.386973 127.62356,31.141548 102.7824,11.682594 95.108005,5.6709714 86.193537,0.55726889 76.458534,0.04184827 Z; 
              M 118.31059,5.1543723 C 108.39625,4.6294568 98.591594,9.0872612 91.481479,16.016611 84.015359,23.292915 83.499951,40.539086 78.798784,49.844276 71.271324,64.74365 49.810538,12.415785 31.298138,12.347928 22.898432,12.317138 -5.6130935,31.694596 12.948342,46.76315 26.02419,57.378391 0.69098191,102.34089 6.231692,140.24164 c 1.2383788,8.47103 8.598785,15.34731 18.340875,17.49074 33.784167,7.43314 42.058189,-16.34912 75.863663,-23.68473 5.70752,-1.2385 20.22662,6.11939 23.39488,11.0257 4.75039,7.35639 16.81885,13.93831 21.93819,11.14925 8.53168,-4.64814 8.29206,-17.71266 7.76955,-27.4143 -0.52252,-9.70165 -3.23011,-26.00214 -6.55391,-35.131612 C 136.18969,64.025435 169.47561,36.254072 144.63445,16.795118 136.96006,10.783495 128.04559,5.6697929 118.31059,5.1543723 Z; 
              M 76.458534,0.04184827 C 66.544196,-0.48306724 56.739542,3.9747372 49.629427,10.904087 42.163307,18.180391 37.552949,27.810506 32.851782,37.115696 25.324322,52.01507 17.191556,66.605408 9.8289787,81.586946 6.1241835,89.125547 2.5858995,96.849951 0.93275519,105.08543 c -1.65314429,8.23548 -1.28674581,17.11913 2.54558251,24.5937 3.905922,7.61811 10.9958973,13.09265 18.3408753,17.49074 29.678434,17.7711 66.534483,21.5076 100.339957,14.17199 5.70752,-1.2385 11.3821,-2.7869 16.67796,-5.24933 5.29586,-2.46242 10.22357,-5.87974 13.89532,-10.42153 6.10814,-7.55549 8.29206,-17.71266 7.76955,-27.4143 -0.52252,-9.70165 -3.52381,-19.089003 -6.84761,-28.218474 C 142.85914,60.386973 127.62356,31.141548 102.7824,11.682594 95.108005,5.6709714 86.193537,0.55726889 76.458534,0.04184827 Z"
            ></animate>
          </path>
        </g>
      </svg>
      <div
        class=`bg-[url('/images/logo.webp')] bg-no-repeat bg-center w-full h-full absolute top-0 z-10 ${imgClasses}`
      >
      </div>
    </div>
    <div class="w-full sm:w-[50%] p-6 flex justify-center flex-col">
      <h2
        class="font-special w-full md:w-fit text-4xl py-3 text-center md:text-left"
      >
        {title}
      </h2>
      <div class="xl:max-w-[25vw] md:pr-6">
        <hr />
        <p class="py-4 text-left">
          <slot />
        </p>
      </div>
    </div>
  </div>
</section>
