<section class="relative min-w-full bg-white text-theme-black">
  <div
    class="bg-theme-black text-white triangle relative isolate px-6 pt-30 lg:px-8 h-11/12 sm:h-4/5"
  >
    <div class="mx-auto max-w-2xl p-4 lg:max-w-6xl h-full">
      <div class="grid grid-cols-1 grid-rows-6 gap-4 h-full sm:grid-cols-5">
        <div
          class="col-span-1 sm:col-span-2 row-span-2 sm:row-span-3 row-start-2 sm:row-start-2"
        >
          <article class="text-left p-2.5">
            <div
              class="font-special text-4xl sm:text-5xl flex justify-start text-nowrap"
            >
              <h1 class="">I'm Brais Pato</h1><span>,</span>
            </div>
            <p class="text-pretty mt-5 text-base sm:text-xl/8">
              Galician based Senior Backend Developer with 6+ years industry
              experience.
            </p>
            <div
              class="mt-10 flex items-center justify-start sm:justify-center gap-x-6"
            >
              <a
                href="/#about-me"
                class="bg-transparent hover:bg-primary-light text-primary-light font-semibold hover:text-theme-black py-2 px-4 border border-primary-light hover:border-transparent rounded"
                data-astro-history="replace">Learn more</a
              >
            </div>
          </article>
        </div>
        <div
          class="col-span-1 sm:col-span-3 row-span-3 sm:row-span-6 sm:col-start-3 sm:p-4 overflow-hidden xl:min-h-[600px]"
        >
          <div class="photo relative -right-15 -top-5 sm:right-0 sm:top-0">
          </div>
        </div>
      </div>
    </div>
  </div>
  <svg width="0" height="0" aria-hidden="true">
    <defs>
      <clipPath id="clip-rounded" clipPathUnits="objectBoundingBox">
        <path
          d="M 0 0 H 1 V 0.75 T 0.35 0.95
            A .65 6 0 0 1 0.3 0.95
            L 0 0.75 Z"
        ></path>
      </clipPath>
    </defs>
  </svg>
</section>

<style>
  .triangle {
    /* clip-path: polygon(0% 0%, 100% 0%, 100% 60%, 35% 80%, 0% 55%); */
    clip-path: url(#clip-rounded);
  }

  @media (max-width: 640px) and (orientation: portrait) {
    .triangle {
      clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 0% 95%);
    }
  }

  .photo {
    background-image: url("/images/photo.webp");
    height: 100%;
    width: 100%;
    background-size: cover;
    z-index: 20;
  }
</style>
